*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 30);
    color: white
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4.375rem;
    background-color: rgb(17, 17, 82);
}

.navbar ul{
    display: flex;
    justify-content: center;
}

.navbar ul li{
    list-style: none;
    margin: 0 1.4375rem;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover{
    color: rgb(122, 122, 186);
}

.left{
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.img-icon{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.img-icon:hover{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.first-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5rem 0;
}

.first-section > div{
    width: 30%;
}

.left-section{
    font-size: 2.5rem;
}

.right-section img{
    width: 70%;
    margin-top: 5rem;
}

.purple{
    color: rgb(107, 107, 228);
}

#element{
    color: rgb(107, 107, 228);
}

.button-section{
    display: flex;
    flex-direction: row;
    margin-left: 9rem;
    align-items: center;
    margin-bottom: 3rem;
    gap: 1rem;
}

.button{
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.3125rem;
}    

.button a{
    gap: 1rem;
    padding: 0.5rem;
    background-color: rgb(65, 65, 167);
    color: whitesmoke;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0.3125rem;
}

.button a:hover{
    color: #aaaaaa;
    transition: color 0.2s;
}

.second-section{
    max-width: 60%;
    align-items: center;
    margin-left: 9rem;
    margin-bottom: 2rem;
}

.second-section p{
    font-size: 1.3rem;
    font-weight: bold;
}

.third-section{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.skill-name{
    margin-top: 1.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(107, 107, 228);
}

.text-gray{
    color: gray;
}

.third-section .box{
    background: white;
    width: 40vw;
    height: 0.125rem;
    margin: 3.5rem 0;
    display: flex;
}

.third-section .vertical{
    height: 5.8125rem;
    width: 0.0625rem;
    background-color: white;
    margin: 0 6.25rem;
}

.vertical-title{
    position: relative;
    top: 6.25rem;
    width: 9.375rem;
}

.vertical-title:hover{
    font-size: 2rem;
}

.vertical-desc{
    position: relative;
    top: 6.25rem;
    color: gray;
    width: 9.375rem;
    font-size: 0.75rem;
}

.img-skill{
    max-width: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.625rem 0.9375rem;
    margin-top: 2rem;
}

.img-skill img{
    height: 5rem;
    width: 5rem;
    border-radius: 20%;
    object-fit: cover;
    margin: auto;
    display: block;
    background-color: antiquewhite;
    align-items: center;
}

.footer-box{
    background-color: #5d599b;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-links{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem;
}

.social-links a{
    margin: auto;
    align-items: center;
    color: #aaaaaa;
}

.social-links a, ion-icon{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    gap: 0 0.3rem;
}

.social-links a:hover{
    color: rgb(87, 87, 139);
    transition: color 0.2s;
}

.email-input{
    width: 30%;
    align-items: center;
    margin-left: auto;
}

.email-input label{
    font-size: 1.2rem;
}

.email-input label,
.email-input input{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.625rem;
}

.email-input input{
    width: calc(100% - 5rem);
    padding: 0.5rem;
}

.email-input button{
    padding: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.625rem;
    font-weight: bold;
    cursor: pointer;
}

.email-input button:hover{
    color: rgb(144, 144, 213);
}

.chat-box{
    align-items: center;
    margin: auto;
}

.chat-box h3{
    margin-top: 0;
    font-size: 1.7rem;
    font-weight: bold;
}

.chat-box p{
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
}

@media(max-width: 941px){
    html{
        font-size: 55%;
    }
}

@media(max-width: 768px){
    html{
        font-size: 45%;
    }
    body{
        display: block;
    }
    footer{
        display: block;
    }
}

.project-sec{
    height: 50vh;
    width: 100vw;
    background-color: aquamarine;
}

.project{
    margin: 0.8rem 0.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(0, 0, 30);
    padding: 1rem;

}

.project-title{
    color: rgb(132, 65, 93);
}

.project-name{
    color: rgb(56, 56, 56);
    padding: 0.7rem;
    margin: 0.3rem 0.3rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.project1{
    max-width: 50%;
}

.about-project{
    margin-top: 1rem;
}

.project2{
    max-width: 50%;
}

.service-sec{
    background-color: azure;
    height: 100%;
    width: 100vw;
    padding: 1.3rem;
}

.service h1{
    color: rgb(123, 118, 224);
    font-size: 1.8rem;
    font-weight: bold;
}

.service h2 li{
    color: rgb(26, 25, 25);
}

.about-sec{
    background-color: #5d599b;
    color: #aaaaaa;
}

.about-me{
    padding: 2rem;
    justify-content: space-around;
    font-size: 1rem;
    max-height: 100%;
}
.about-me p{
    color: rgb(245, 238, 238);
}

.about-name h1{
    color: wheat;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.5rem;
}